<header class="header">
    <div class="container">
      <h1 class="logo" routerLink="/home" routerLinkActive="active-link">{{logo}}</h1>
      <nav>
        <ul class="nav-menu">

          <li>
              <a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>

          <li>
              <a routerLink="/profile" routerLinkActive="active-link">Profile</a>
          </li>
          <li>
              <a href="#">About</a>
          </li>
          <li>
              <a href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>