<div *ngIf="studentList.length > 0; else noStudents">
    <h2>Student List</h2>
    <ul class="form">
      <li *ngFor="let student of studentList">
        <strong>Name:</strong> {{ student.name }}<br>
        <strong>Age:</strong> {{ student.age }}<br>
        <strong>Grade:</strong> {{ student.grade }}<br>
        <strong>Subjects:</strong> {{ student.subjects }}<br>
        <strong>Enrolled:</strong> {{ student.isEnrolled ? 'Yes' : 'No' }}<br>
        <strong>Address:</strong> {{ student.address.street }}, {{ student.address.city }}, {{ student.address.zip }}
      </li>
    </ul>
  </div>
  
  <ng-template #noStudents>
    <p>No students registered yet.</p>
  </ng-template>
  <p>WORK</p>